In [1]:
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC

# Loading the data

In [2]:
train = pd.read_csv("Train.csv")
test = pd.read_csv("Test.csv")
ss = pd.read_csv("SampleSubmission.csv")

In [3]:
train.head()

        ID                                               text  target
0  train_0            The bitcoin halving is cancelled due to       1
1  train_1  MercyOfAllah In good times wrapped in its gran...       0
2  train_2  266 Days No Digital India No Murder of e learn...       1
3  train_3  India is likely to run out of the remaining RN...       1
4  train_4  In these tough times the best way to grow is t...       0

In [4]:
test.head()

       ID                                               text
0  test_2         Why is  explained in the video take a look
1  test_3            Ed Davey fasting for Ramadan No contest
2  test_4   Is Doja Cat good or do you just miss Nicki Minaj
3  test_8  How Boris Johnson s cheery wounded in action p...
4  test_9  Man it s terrible Not even a reason to get on ...

In [5]:
ss.head()

       ID  target
0  test_2       0
1  test_3       0
2  test_4       0
3  test_8       0
4  test_9       0

In [6]:
# we are going to rename text to tweet to make it clear

In [8]:
train = train.drop("ID", axis=1)
test = test.drop("ID", axis=1)
train.head()

                                                text  target
0            The bitcoin halving is cancelled due to       1
1  MercyOfAllah In good times wrapped in its gran...       0
2  266 Days No Digital India No Murder of e learn...       1
3  India is likely to run out of the remaining RN...       1
4  In these tough times the best way to grow is t...       0

In [10]:
# Create a pipeline with a TfidfVectorizer and a LinearSVC classifier
classifier = Pipeline([("vectorizer", TfidfVectorizer()), ("classifier", LinearSVC())])

In [ ]:
X = train.drop("target", axis=1)
y = train.target